@import "tailwindcss";

:root {
    --azulclaro: #016DA7;
    --azulescuro: #004164;
    --branco: #E3E3E3;
    --cinza: #827979;
    --preto: #2C2A2A;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; 
  appearance: textfield;      
}